node_modules

*.log

build

.env
.env.local
.env.development
.env.test
.env.production

Dockerfile

.dockerignore

.git
.gitignore

npm-debug.log
yarn-debug.log
yarn-error.log

.vscode
.idea
*.sublime-project
*.sublime-workspace

.DS_Store

coverage
